@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-move 10s ease infinite;
  }
  .animate-fade-in {
    animation: fadeIn 0.4s ease-in-out;
  }
  
  .input-style {
    @apply w-full rounded-xl px-4 py-2 border border-gray-300 bg-white text-gray-800 shadow-sm
      focus:border-blue-500 focus:ring-2 focus:ring-blue-400 focus:outline-none transition duration-300;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

